@import "./partials/colores";
@import "./partials/operaciones";
@import "./partials/header";
@import "./partials/main";
@import "./partials/footer.scss";

/*MEDIA*/

@media only screen and (max-width: 425px){
    .img {
        max-height: 200px !important;
        max-width: 250px !important;
    }

    .lorem {
        font-size: 0.8em !important;
        width: 65% !important;
    }

    h2 {
        font-size: 1em !important;
    }

    h4 {
        font-size: 0.8em !important;
    }

    .local__p {
        font-size: 0.7em !important;
    }

    .info__img {
        width: 5em !important;
        height: 5em !important;
    }

    .info__lorem {
        font-size: 0.7em !important;
    }

    .textoImagen {
        width: 20em !important;
    }

    .correo {
        height: 10em;
        width: 20em;
    }

    .correoFlex__texto {
        font-size: 1em;
    }

    #secform__inp {
        margin: 0px;
    }

    #mapa {
        height: 16em;
        width: 20em;
    }

    #ubicacion__argtxt {
        width: 80%;
        font-size: 1em;
    }

    #nosotros {
        width: 20em;
    }

    .iframe {
        height: 15em;
        width: 20em;
    }

    .lorem-2 {
        font-size: 0.8em;
    }

}

@media only screen and (max-width: 768px){

    .img {
        max-height: 350px;
        max-width: 400px;
    }

    .lorem {
        font-size: 1em;
        margin: 1em;
    }

    h2 {
        font-size: 1.5em;
    }    

    footer {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 35em;
        align-items: center;
    }

    .headtxt{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .navegar{
        display: flex;
        flex-direction: column;
    }
    header{
        height: 17em;
    }
    .textoImagen{
        display: flex;
        flex-direction: column;
    }

    #textoImagen {
        width: 40em;
    }
    
    h2{
        font-size: 1.4em;
    }

    h1 {
        font-size: 1.4em;
    }

    .secform {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .ubicacion {
        display: flex;
        flex-direction: column;
        align-items: center;

        .ubicacion__argimg {
            margin-top: 3em;
        }
    }

}

@media only screen and (max-width: 1440px){

    .img {
        max-height: 400px;
        max-width: 450px;
    }

    .lorem {
        font-size: 1.3em;
    }

    .textoImagen {
        width: max-content;
    }
}

.correoFlex__texto {
    width: 60%;
    text-align: center;
}

.secform {
    margin-left: 6em;
}

@media only screen and (max-width: 1024px){
    .img {
        max-height: 350px;
        max-width: 400px;
    }

    .lorem {
        font-size: 1em;
        width: 60%;
        margin: 1em;
    }

    .textoImagen {
        width: 60em;
    }

    .secform {
        margin-left: 0;
        flex-direction: column;
        align-items: center;
    }

    .ubicacion__argtxt {
        font-size: 1.3em;
    }

    .mapa {
        height: 20em;
        width: 24em;
    }

    .caja__nosotros {
        display: flex;
        flex-direction: column;
    }

    .nosotros {
        width: 35em;
    }

    .caja__opcion {
        display: flex;
        flex-direction: column;
    }

    .beneficios {
        margin-top: 0px;
    }

}

/*FIN MEDIA*/

/*ANIMACIONES*/

h1 {
    animation-duration: 1s;
    animation-name: opacidad;
}

h2 {
    animation-duration: 2s;
    animation-name: opacidad;
}

@keyframes opacidad {
    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}