*{
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #F0F0F0 !important;
}
/*HEADER*/
header {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cabeza {
    text-align: center;
    background-color: black;
}
    /*TITULOS, SUBTITULOS*/
    h1 {
        color: white;
    }
    
    .tituloheader {
        color: white;
    }
    
    .titulo {
        margin-top: 1em;
        margin-bottom: 0.5em;
    }
    
    h2 {
        color: black;
        font-size: 2;
        text-align: center;
        text-shadow: 1em 1em 2em white;
    }
    
    #ti3 {
        color: black;
        width: max-content;
        margin-bottom: 1em;
        margin-top: 1em;
    }
    
    .lorem {
        width: 600px;
        margin-right: 2em;
        font-size: 1.2em;
        line-height: 1.5em;
        margin-left: 2em;
    }
    /*FIN TITULOS, SUBTITULOS*/
/*FIN HEADER*/

/*MAIN*/
    /*GALERIA*/
    .caja__galeria .caja__figure:hover > img {
        transform: scale(1.3);
    }
    /*FIN GALERIA*/
    /*IMAGEN*/
    .img {
        max-height: 500px;
        max-width: 500px;
    }
    .img-nosotros {
        height: 7em;
        width: 13em;
    }
    
    .filial {
        width: auto;
        height: auto;
        width: 8em;
        height: 8em;
    }
    /*FIN IMAGEN*/
    /*TEXTO DENTRO DE IMAGEN*/
.textoCentro {
    color: white;
    text-shadow: 3px 3px grey;
}
.centro {
    background-image: url(./img/nuevoFondo.jpg);
    display: flex;
    justify-content: center;
    padding: 10em;
    background-repeat: repeat;
    background-position: center;
}
.textoImagen {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: solid 2px grey;
    box-shadow: 0 0 2em darkgrey;
    width: max-content;
    padding: 0.1em;
    margin-bottom: 7em;
}
    /*FIN TEXTO DENTRO DE IMAGEN*/
    /*NOSOTROS*/
.caja__nosotros {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 8em;
}

.titulo {
    display: flex;
    flex-direction: column;
}

.nuestro {
    margin-bottom: 1em;
}

.iframe {
    box-shadow: 0 0 2em grey;
}

.lorem-2 {
    font-size: 1em;
    width: 20em;
}

.caja__opcion {
    display: flex;
    justify-content: space-evenly;
}

.beneficios {
    margin-top: 8em;
}

.elegime {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nosotros2 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
    flex-direction: column;
    border: solid 2px gray;
    height: 22em;
}

.nosotros2 {
    background-color: white;
    width: max-content;
    box-shadow: 0 0 2em darkgrey;
}

.nosotros {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5em;
    flex-direction: column;
    border: solid 2px gray;
}

.acerca {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.nosotros {
    background-color: white;
    width: max-content;
    box-shadow: 0 0 2em darkgrey;
}

.nosotros__h {
    margin-bottom: 1em;
    margin-top: 2em;
}
    /*FIN NOSOTROS*/
    .borde {
        padding: 1px;
        background-color: #140f07;
    }
    
    .headtxt {
        display: flex;
        justify-content: space-between;
    }
    
    #mod {
        list-style: upper-roman;
        background-color: gray;
        width: max-content;
        color: black;
    }

    .nosotros-benef {
        margin-bottom: 3em;
    }
/*FIN MAIN*/


/*BOOTSTRAP*/
p {
    margin-bottom: 0px !important;
}
/*FIN BOOTSTRAP*/

/*FOOTER*/
footer {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

footer {
    background-color: black;
}

.footerInfo {
    width: 20em;
}
    /* redes sociales */
.redSocial{
    display: flex;
    flex-direction: row;
}

.facebook{
    height: auto;
    width: auto;
    max-height: 55px;
    max-width: 55px;
}


    /* redes sociales */
/*FIN FOOTER*/