*{
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #FFDEE9;
    background-image: linear-gradient(to top, #1aa0b0 0%, #cbfff7 100%);
}

.borde {
    padding: 1px;
    background-color: #140f07;
}

/*Formulario*/


.boton {background-image: linear-gradient(to right, #B3FFAB 0%, #12FFF7  51%, #B3FFAB  100%)}
.boton {
   margin: 10px;
   padding: 5px 25px;
   text-align: center;
   text-transform: uppercase;
   transition: 0.5s;
   background-size: 200% auto;
   color: darkred;            
   box-shadow: 0 0 20px #eee;
   border-radius: 10px;
 }

 .boton:hover {
   background-position: right center;
   color: #fff;
   text-decoration: none;
 }

 /*Fin Formulario*/
/*titulos / subtitulos / textos*/
h1 {
    color: #A52A2A;
    width: max-content;
    border-radius: 10px;
    background-image: linear-gradient(to top,#fffba8, transparent);
}

h2 {
    color: darkred;
    width: max-content;
    font-size: 1.8em;
    border-radius: 10px;
    background-image: linear-gradient(to top, #fffba8, transparent);
}

h3 {
    color: darkred;
    width: max-content;
}

/*FIN (titulos / subtitulos / textos)*/

/*NAVEGACIÓN*/

.headtxt {
    display: flex;
    justify-content: space-between;
}

/*nav{background-image: linear-gradient(to right, #00C9FF 0%, #92FE9D  51%, #00C9FF  100%)}*/

ul li a{
    text-decoration: none;
    color: tomato;
}

ul li a:hover{
    color: white;
    transition: 0.4s;
}

table {
    background-color: lightgreen;
    margin-top: 40px;
}

.ejemplo {
    color: darkred;
    background-color: lightgreen;
    font-size: 20px;
    width: max-content;
    font-style: oblique;
}

#mod {
    list-style: upper-roman;
    background-color: gray;
    width: max-content;
    color: black;
}


select {
    background-color: lightskyblue;
}

input {
    background-color: lightskyblue;
}

.pregunta {
    background-color: lightgreen;
    width: 540px;
    border: solid 3px black;
    height: 125px;
    padding-left: 5px;
    font-family: 'Roboto', sans-serif;
}

.pregunta p{
    font-size: 18px;
    word-spacing: 2px;
}

.centro {
    background-image: url(./img/pro1.jpg);
    display: flex;
    justify-content: center;
    padding: 12.5em;
    background-repeat: repeat;
    background-position: center;
    margin: 0.5em;
}
/*secciones*/
header {
    background-image: url(./img/blueprints-architecture-digital-art-house-wallpaper-preview.jpg);
    padding: 20px;
    height: 2em;
}

footer {
    display: flex;
    justify-content: space-between;
    margin-top: 10em;
    padding: 20px;
}

footer {
    background-image: linear-gradient(to top, rgb(20, 20, 20), grey)
}

.footerInfo {
    width: 20em;
}

.img {
    max-height: 500px;
    max-width: 500px;
}

.correo {
    height: auto;
    width: auto;
    max-height: 20em;
    max-width: 40em;
}

/* redes sociales */
.redSocial{
    display: flex;
    flex-direction: row;
}

.facebook{
    height: auto;
    width: auto;
    max-height: 55px;
    max-width: 55px;
}

.search{
    margin-bottom: 10px;
}

/* redes sociales */

.textoImagen {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: bisque;
}

.lorem {
    width: 600px;
    margin-right: 40px;
    font-size: 1.2em;
    line-height: 1.5em;
}

.titulo {
    display: flex;
    justify-content: center;
    margin: 10px;
}

.filial {
    width: auto;
    height: auto;
    width: 8em;
    height: 8em;
}

.preguntamate {
    display: flex;
    justify-content: center;
}

.metodo:hover {
    border-bottom: outset 0.4em black;
}


/*GRID*/

.caja {
    display: grid;
    grid-template-columns: 20em auto 20em;
    grid-template-rows: 10em auto 1em;
    grid-template-areas: 
    "izquierda texto derecha"
    "izquierda centro derecha";

    height: 100vh;

    grid-column-gap: 0.5em;
    grid-row-gap: 0.5em;

}

.border{
    background-color: beige;
    border: solid 1px black;
    color: #000000;
}

#text {
    grid-area: texto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#centro {
    grid-area: centro;
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: center;
}

#izquierda {
    grid-area: izquierda;
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: center;
}

#derecha {
    grid-area: derecha;
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: center;
}

.caja-cliente-grid {
    display: flex;
    flex-direction: column;
    margin-left: 6.5em;
}

.nosotros{
    width: 70%;
    font-size: 18px;
}

.nosotros2{
    font-size: 24px;
}

.centrog {
    width: 90%;
}

.izquierdag {
    width: 70%;
}

.imggrid {
    display: flex;
    flex-direction: row;
}

.imgg {
    height: auto;
    width: auto;
    max-height: 200px;
    max-width: 200px;
    margin: 30px;
}

.clientes {
    width: 70%;
}

.imgclientes {
    margin-top: 70px;
    border-radius: 20px;
}

.creatividad {
    margin-top: 1em;
}

.mejoresPrecios {
    margin-top: 1em;
}

.rapidezCalidad {
    margin-top: 1em;
}

.capitalHumano {
    margin-top: 3em;
}

.opiClientes {
    margin-top: 2em;
}

/*FIN GRID*/

@media only screen and (max-width: 600px){
    .headtxt{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .navegar{
        display: flex;
        flex-direction: column;
    }
    header{
        height: 225px;
    }
    .textoImagen{
        display: flex;
        flex-direction: column;
    }
    .lorem{
        width: 400px;
    }
    h2{
        width: min-content;
    }
}
@media only screen and (max-width: 1450px){
    .caja {
        display: grid;
        grid-template-columns: 20em auto 20em;
        grid-template-rows: 10em auto 20em;
        grid-template-areas: 
        "izquierda texto none"
        "izquierda centro none"
        "derecha derecha none";
    
        height: 100vh;
    
        grid-column-gap: 0.5em;
        grid-row-gap: 0.5em;

        margin-bottom: 25em;
    
    }
    #derecha {
        grid-area: derecha;
        display: flex;
        justify-content: start;
        flex-direction: row;
        align-items: center;
    }

    .imgclientes {
        height: 7em;
        width: 7em;
    }

    .caja-cliente-grid {
        display: flex;
        flex-direction: row;
        margin-left: 3em;
    }

    .cliente-grid {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .todo-cliente {
       display: flex;
       flex-direction: column;
       align-items: center;
   }

}

@media only screen and (min-width: 1000px){
    header{
        background-color: grey;
    }
    footer{
        background-color: grey;
    }
    body{
        background-color: ivory;
    }
    
}

/*ANIMACIONES*/

h1 {
    animation-duration: 1s;
    animation-name: opacidad;
}

h2 {
    animation-duration: 2s;
    animation-name: opacidad;
}

@keyframes opacidad {
    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}