@import "./colores";
@import "./operaciones";

.navegacion {
    width: max-content;
    text-transform: uppercase;

    .navegacion__lista {
        display: flex;
        list-style: none;
        border-radius: 20px;
        background-image: linear-gradient(to top, #4e61a0, #8fa5fa);
    }

    .navegacion__elemento {
        margin: 0.8em;
    }
    
}