@import "./colores";
@import "./operaciones";

.info {
    display: flex;
    align-items: center;
    
    .info__img {
        width: auto;
        height: auto;
        width: $ancho-fotos*7;
        height: $altura-fotos*7;
    }

    .info__lorem {
        width: 200px;
        margin-left: 20px;
        color: white;
        font-size: 1.2em;
    }
}

.ayuda {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-right: 20px;
    background-image: linear-gradient(to top, #4e61a0, #8fa5fa);
    border-radius: 1.4em;
    padding: 0.8em;

    .ayuda__search {
        margin-bottom: 1em;
    }

    .ayuda__redSocial {
        display: flex;
        flex-direction: row;
    }

    .ayuda__instagram{
        max-height: 5em;
        max-width: 5em;
    }

    .ayuda__facebook {
        max-height: 3.2em;
        max-width: 3.2em;
        margin-top: 5px;
    }
}

.local {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;

    .local__p {
        font-size: 1.2em;
    }
}

.ubicacion {
    display: flex;
    justify-content: space-evenly;
    .ubicacion__argtxt {
        width: 20em;
    }
    .ubicacion__argimg {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
}